body {
    background-image:url(background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: blue;
    font-family: arial black;
    font-size: 40px;
}

p {
    color:green;
    font-family: arial black;
}